:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --secondary-light-color: rgba(255, 255, 255, 0.6);
  --hover-accent-color: #188ce8;
  --dark-color: #000000;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
 
.page-header {
  border-bottom: 1px solid #ECECEC;
  height: 80px;
  padding-top: 0px;
}



.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--accent-color);
}

.logo-dark {
  color: var(--dark-color);
}

.main-nav {
display: flex;
align-items: center;
height: 80px;
}

header .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}
.contacts-list {
  display: flex;
  margin-left: auto;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  
}

.nav-list .nav-link {
  margin-right: 50px;
}

.nav-list .nav-link + .nav-link {
  margin-left: 50px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  

  color: var(--primary-text-color);
}


.contacts-list li + li {
  margin-left: 50px;
}


.hero {
  padding-bottom: 94px;
  height: 600px;
  width: 1230px;
  text-align: center;
  background-color: var(--secondary-background-color);
  margin: auto;
  padding-top: 200px;
  margin-bottom: 94px;
}

.hero-title {
  color: var(--main-white);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: auto;
  text-align: center;

  color: var(--primary-white-color);
}

.hero-button {
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 216px;
  height: 50px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-accent-color);
}

.features {
margin-bottom: 94px;
}
.features-list {
  display: flex;
  width: 270px;
  height: 98px;
}

.features li {
  margin-right: 30px;
}

.features-list li:nth-child(4n) {
  margin-right: 0px;
}

.features-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.features-text {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 44px;
  width: 270px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

.title {
  margin-bottom: 50px;
  color: var(--title-text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: var(--title-text-color);
}

.picture-title {
  display: flex;
  padding-right: 0px;
  margin-bottom: 94px;
}

.picture-title-li {
  margin-right: 30px;
}

.picture-title-li:nth-child(3n) {
  margin-right: 0px;
}

.title-features {
  visibility: hidden;
}

.title-team {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}


.team {
  background-color: var(--additional-background-color);
}

.team-item {
  margin-bottom: 10px;
  background-color: var(--primary-white-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}


.team-list {
  display: flex;
  margin-right: 0px;
}

  .team-item {
  padding-right: 0px;
  margin-bottom: 94px;
  margin-right: 30px;

  width: 270px;
  height: 368px;
  text-align: center;


  background: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }

.team-item:nth-child(4n) {
  margin-right: 0px;
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  padding-top: 10px;
}

.team-description {
  padding-top: 30px;
}

.button-filter {
  padding-top: 94px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.main-button {
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 73px;
  padding: 6px 25px;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
 color: var(--additional-background-color);
  background-color: var(--accent-color);
}

.filter-button {
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 73px;
  padding: 6px 25px;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  background: var(--additional-background-color);
  color: var(--title-text-color);
  margin-left: 8px;

  cursor: pointer;
}

.filter-button.current,
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio {
  width: 1170px;
  margin-left: 0px;
}

.cards-title {
  display: flex;
  flex-wrap: wrap;
  color: var(--title-text-color);
  margin-bottom: 94px;
}

.cards-li {
  width: 370px;
  background: var(--primary-white-color);
  margin-bottom: 30px;
  height: 404px;
  margin-right: 30px;
}

.cards-li:nth-child(3n) {
  margin-right: 0px;
}

.cards-li h3 {
  margin-top: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-left: 24px;

  color: var(--title-text-color)
}

.cards-li p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-left: 24px;

  color: var(--primary-text-color);
}

.cards-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

.cards-border {
  border: 1px solid #EEEEEE;
  padding-bottom: 20px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  padding-top: 60px;
  background-color: var(--secondary-background-color);
}

.logo-link {
margin-bottom: 20px;
margin-top: 60px;
}

.logo-light {
  color: var(--primary-white-color);
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address-link {
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  color: var(--secondary-light-color);
}

.address-link-light:hover {
  color: var(--hover-accent-color);
}

.address-link-light {
  color: var(--primary-white-color);
}

.adress-mail {
  margin-top: 9px;
}
.adress-phone {
  margin-top: 9px;
}