:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --secondary-light-color: rgba(255, 255, 255, 0.6);
  --hover-accent-color: #188ce8;
  --dark-color: #000000;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    /*outline: none;*/
}

a:focus,
a:active {
    /* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

address {
  font-style: normal;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  max-width: 1600px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 24px;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
 
.page-header {
  border-bottom: 1px solid #ECECEC;
}



.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  
}

.logo-dark {
  color: var(--dark-color);
}

.main-nav {
display: flex;
align-items: center;
height: 80px;
}

header .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.nav-link {
  display: block;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}

.li {
  margin-right: 50px;
}


.li:nth-child(3n) {
  margin-right: 0px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current,
.svgmail:hover, 
.svgmail:focus, 
.svgphone:hover,
.svgphone:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.svgmail {
  fill: currentColor;
  display: flex;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.svgphone {
  fill: currentColor;
  display: flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.contacts-link {
  display: flex;
  align-items: center;
}

.contacts-list li + li {
  margin-right: 0px;
}


.hero {
  text-align: center;
  background-color: var(--secondary-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/heropicture.jpg);
}

.hero-title {
  color: var(--main-white);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;

  color: var(--primary-white-color);
}

.hero-button {
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 216px;
  height: 50px;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-accent-color);
}

.iconfeatures {
  background: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.features {
padding-top: 94px;
padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features li {
  margin-right: 30px;
}

.features-list li:nth-child(4n) {
  margin-right: 0px;
}

.features-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.title-features {
  display: none;
}
.features-text {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  width: 270px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

.title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  }

.picture-title {
  display: flex;
}

.picture-title-li {
  margin-right: 30px;
}

.picture-title-li:nth-child(3n) {
  margin-right: 0px;
}

.title-features {
  visibility: hidden;
}

.title-team {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.title-work {
  padding-bottom: 94px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 94px;
  background-color: var(--additional-background-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: var(--title-text-color);
}



.team-list {
  display: flex;
  margin-right: 0px;
}

.team-item {
  margin-right: 30px;
  width: 270px;
  text-align: center;


  background: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }

.team-item:nth-child(4n) {
  margin-right: 0px;
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.net-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.net-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.button-filter {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px
;
}


.net-icon {
  fill: #AFB1B8;
}

.net-link:hover {
  background-color: #2196f3;
}

.net-link:hover .net-icon {
  fill: var(--primary-white-color);
}




/* .svgsocialnetworks:nth-child(4n) {
  margin-right: 0px;
} */

.clients {
margin-bottom: 94px;
}

.clientstitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.clientslogo {
  display: flex;
}

.clientslogoicon:nth-child(6n) {
  margin-right: 0px;
}

.clientslogoicon {
  fill: #afb1b8;
} 

.clientslogosvg {
fill: #AFB1B8;
}


.clientssvg {
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
}

.clientssvg:hover .clientslogosvg {
  fill: var(--hover-accent-color);
}

.clientssvg:hover {
  border: 1px solid #2196f3;
}

.invitelist {
  justify-content: center;
  text-align: center;
}

.invite {
display: flex;
justify-content: center;
align-items: center;
}

.addressposition {
  display: flex; 
  align-items: baseline; 
}
.net-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--bgc-footer-network);
  color: var(--icons-hover-colour);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}
.net-invite {
  gap: 10px;
  display: flex;
}

.asktoinvite {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.filter-button {
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 6px 25px;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0 auto;
  background: var(--additional-background-color);
  color: var(--title-text-color);
}

.filter-button.current,
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}



.filter-button:hover {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.filter-button:focus {
  color: var(--primary-white-color);
  background: var(--acent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.cards-title {
  display: flex;
  flex-wrap: wrap;
  color: var(--title-text-color);
  gap: 30px;
}

.cards-li {
  width: 370px;
  background: var(--primary-white-color);
}

.cards-li:nth-child(3n) {
  margin-right: 0px;
}

.cards-li h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--title-text-color)
}

.cards-li p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.cards-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

.cards-border {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
  border-top: none;
}

.cards-border-link {
    display: block;
    text-decoration: none;
}
.cards-border-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

img {
  display: block;
  max-width: 100%;
    height: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.naming {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-light {
  color: var(--primary-white-color);
}

.addressblock {
  margin-right: 70px;
}

.address {
  font-style: normal;
  margin-right: 70px;
}

.address-footer {
  margin-bottom: 9px;
}

.address-footer:nth-child(3n) {
  margin-bottom: 0px;
}

.address-link {
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  color: var(--secondary-light-color);
}

.address-link-light:hover,
.address-link-light:focus {
  color: var(--hover-accent-color);
}

.address-link-light {
  color: var(--primary-white-color);
}

.net-invite {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.net-link-footer {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);;
}

.net-icon-footer {
  fill: var(--additional-background-color);
}

.net-link-footer:hover,
.net-link-footer:focus {
  background-color: #2196f3;
}

.net-link-footer:hover .net-icon-footer,
.net-link-footer:focus .net-icon-footer {
  fill: var(--primary-white-color);
}
